:root {
    --cl-white: hsl(0, 0%, 100%);
    --cl-yellow: hsl(75, 94%, 57%);
    --fs-14: 14px;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
    margin: 0;
}

main section address{
    color: hsl(75, 94%, 57%);
    font-style: normal;
    font-size: var(--fs-14);
    margin: 0;
}

main p {
    font-size: var(--fs-14);
    color: var(--cl-white);
}

.wrapper {
    width: 300px;
    min-height: 450px;
    background-color: hsl(0, 0%, 12%);
    border-radius: .5em;
    padding: 2rem 1rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 1.5rem; */
}

section img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: block;
}

.about h1 {
    color: var(--cl-white);
    margin-top: 1rem;
    margin-bottom: .2rem;
    font-size: 24px;
}

.wrapper p {
    text-align: center;
    font-size: var(--fs-14);
    color: rgb(255, 255, 255, 0.7)
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* margin-top: 1em; */
}

.links .button-link {
    padding: .5rem;
    border-radius: .5rem;
    border: 0;
    background-color: hsl(0, 0%, 20%);
    padding: 1em 1em;
}

.links .button-link a {
    color: var(--cl-white);
    text-decoration: none;
    font-size: var(--fs-14);
    display: block;
    font-weight: 700;
}

.links .button-link:hover, .links .button-link a:hover {
    background-color: var(--cl-yellow);
    color: black;
}

